<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fejl – Racekatteklubben</title>
    <link rel="stylesheet" th:href="@{/error.css}">
    <link rel="stylesheet" th:href="@{/universal.css}">
</head>
<body>

<div class="container">
    <h2>Der skete en fejl</h2>

    <p th:text="${message}" class="error-message">Noget kritisk er gået galt. Kontakt en administrator</p>

    <div class="links">
        <a href="/">Vend tilbage til forsiden</a>
    </div>
</div>

</body>
</html>