<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Login – Racekatteklubben</title>
    <link rel="stylesheet" th:href="@{/universal.css}">
</head>

<body>

<div class="container">
    <h2>Log ind</h2>

    <form th:action="@{/login}" method="post" th:object="${loginForm}" th:field="*{email}" required>

        <label>Email </label>
        <input type=email th:field="*{email}">

        <label>Password</label>
        <input type="password" th:field="*{password}" required>

        <button type="submit">Login</button>

        <div th:if="${error}" class="error" th:text="${error}"></div>
    </form>

    <div class="links">
        <p>
            Har du ikke en konto?
            <a href="/createMember">Opret bruger</a>
        </p>
        <p>
            <a href="/">Tilbage til forsiden</a>
        </p>
    </div>
</div>

</body>
</html>